<% if resource.errors.any? %>
<div class="container">
  <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% resource.errors.full_messages.each do |message| %>
      <small>⚠️ <%= message %></small><br>
    <% end %>
  </div>
</div>
<% end %>
