<% if resource.errors.any? %>
  <div class="container alert alert-danger">
    <div class="row">
      <div class="col-10">
        <h4>Внимание</h4>
      </div>
      <div class="col-2">
        <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <div class="row">
      <ul class="m-3">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
