<h1><%= t('titles.events') %></h1>

<div class="buffer-both">
  <%= link_to t('titles.new_event'), new_event_path, class: 'my-3 btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
